<!DOCTYPE html>
<script>
    function doSearch () {

      var data = new FormData();
      data.append("search", document.getElementById("search").value);
    

      var xhr = new XMLHttpRequest();
      xhr.open("POST", "http://localhost/php-mvc/controllers/controller.php");
      xhr.onload = function(){
        let results = document.getElementById("results"),
        search = JSON.parse(this.response);
        results.innerHTML = "";
        if (search !== null) { for (let s of search) {
          results.innerHTML += `<div>${s.Name} - ${s.Username} - ${s.Password} - ${s.Timestamp} </div>`;
        }}
      };
      xhr.send(data);
      return false;
    }
    </script>
     

    <form onsubmit="return doSearch()">
      <input type="text" id="search" required/>
      <input type="submit" value="Search"/>
    </form>
     
    <!-- (C) SEARCH RESULTS -->
    <div id="results"></div>
</html>